.main-container {
    background-color: white;
    border: 1px solid #dfe7ef;
    border-radius: 20px;
    width: 100%;
    padding: 30px;
    margin: 0px 20px 30px 0px;
}

.main-container-title {
    margin: 0px 0px 20px 0px;
    font-size: 18px;
}

.main-container-title:hover {
    cursor: pointer;
}

.arrowDownIcon {
    color: #404040;
    margin-left: 5px;
}

/* ------------------------------------------------------------- */
/* Movie Table */
/* ------------------------------------------------------------- */
table {
    width: 100%;
}

thead tr {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}

thead {
    display: table-header-group;
    vertical-align: middle;
}

tbody {
    display: table-row-group;
}

thead > tr > th {
    text-align: left;
    
    padding: 1rem 1rem;
    background-color: #f9fafb;
    color: #374151;
    transition: box-shadow 0.2s;
    
}

tbody tr:hover {
    cursor: pointer;   
}

tbody > tr > td {
    padding: 1rem 1rem;
    text-align: left;
}

.pagination-container {
    margin-top: 10px;
}

/* ------------------------------------------------------------- */
/* Movie Table - END */
/* ------------------------------------------------------------- */