
.main-container {
    margin: 60px 0 0 0;
    
}

.main-movie-container::after {
    content: "";
    display: table;
    clear: both;
}

.main-container::after {
    content: "";
    display: table;
    clear: both;
}

.main-column-left, .main-column-middle {
    float: left;
}

.main-column-left {
    position: relative;
    width: 23%;
    margin: 0 0px 0 30px;
}

.main-column-middle {
    width: 67%;
    margin: 0 0 0 40px;
}

.card-item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 12px 0 24px 0;
}

.movie-information-container {
    padding: 10px;
    background-color: #FDFDFD;
    border: 1px solid #F0F0F0;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 10px 240px;
    border-radius: 12px;
    font-size: 16px;
}

.movie-information-header {
    font-weight: 600;
}

.movie-information-container table {
    margin: 10px auto;
}

.movie-information-container>table tr th, table tr td {
    padding: 0.2px 0;
}

.movie-information-container>table tr th {
    width: 30%;

}

.movie-information-button {
    width: 100%;
    height: 40px;

    border: none;
    color: white;
    font-weight: 600;
    
}

#trailer-button {
    background-color: #009DD1;
}

#trailer-button:hover {
    opacity: 0.9;
}

#buy-ticket-button {
    background-color: #04AA6D;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#buy-ticket-button:hover {
    background-color: #04a168;
}


.movie-description-content {
    font-size: 16px;
}

.movie-schedule-container {
    margin: 30px 0 0 0;
}

.movie-schedule-panel-container {
    overflow-x: auto;
    scroll-snap-stop: always;
    white-space: nowrap;
    width: 100%;
    height: 78px;
}

.movie-schedule-title {
    font-size: 20px;
    font-weight: 600;
}

.movie-panel-list {
    
    list-style-type: none;
    
    padding: 0;
    margin: 18px 0 0 0;
    
    
}

.movie-panel-item, .movie-panel-item-active {
    
    display: inline;
    padding: 20px 4.5%;
    
    
    background-color: white;
    text-align: center;

}

.movie-panel-item:first-child, .movie-panel-item-active:first-child {
    
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.movie-panel-item:last-child, .movie-panel-item-active:last-child {
    
    padding-right: 40px;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

}

.movie-panel-item:hover {
    background-color: rgba(51,51,51, 0.5);
    color: #F2f2f2;
    cursor: pointer;
}

.movie-panel-item-active {
    display: inline;
    background-color: white;
    text-align: center;
    background-color: #333;
    color: #F2f2f2;
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    
    .main-column-left, .main-column-middle {
        float: none;
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }

    .movie-description-container {
        margin-top: 40px;
        padding: 20px;
    }

    .movie-information-container table {
        margin: 10px 0 10px 30px;

    }

    .movie-information-container table tr th, .movie-information-container table tr td {
     padding: 0.6px;   
    }

    .movie-information-button {
        height: 50px;
        font-size: 17px;
    }

}

.movie-schedule-panel-container::-webkit-scrollbar {
    height: 8px;
}

.movie-schedule-panel-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.movie-schedule-panel-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #464646;
}
  