


<div class="recommended-moview-preview" [class.zoom] = "zoomEffect" (mouseenter)="onImageHover(rating, bookmark, true)" (mouseleave)="onImageHover(rating, bookmark, false)"  >
    
    <a [routerLink]="['/movie', movie.id]">
        <img [src]="movie.image" alt="" class="recomended-movies-preview-image" />
    </a>
    
    <div class="recomended-movies-image-rating-container" [ngClass]="{'recomended-movies-image-rating-container-not-visible': ratingEffect, 'recomended-movies-image-rating-container-visible': !ratingEffect}" #rating>
        <span class="movie-rating-desctiption"> 
            <span class="movie-rating" [style.fontSize]="componentFontSize">Rating: </span>
            <span class="movie-rating-value"> {{ movie.rating | number: '1.0-1'}} </span>
        </span>
    </div>

    <div #bookmark  [ngClass]="{'bookmark-container': bookmarked === false, 'bookmark-container-bookmarked': bookmarked, 'bookmark-not-visible': bookmarkEffect, 'bookmark-visible': !bookmarkEffect}" (click)="onBookmark($event)">
        <span class="add-bookmark">
            <span class="bookmark-not-added" *ngIf="bookmarked === false"F>
                <svg id="bookmark-not-added-item" fill="#000000" class="bookmark-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 45.402 45.402"xml:space="preserve"><g><path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"/></g></svg>
            </span>
            <span class="bookmark-added" *ngIf="bookmarked === true">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" fill="orange" width="30" height="30" viewBox="0 0 24 24"><path d="M 6 2 C 5.861875 2 5.7278809 2.0143848 5.5976562 2.0410156 C 4.686084 2.2274316 4 3.033125 4 4 L 4 22 L 12 19 L 20 22 L 20 4 C 20 3.8625 19.985742 3.7275391 19.958984 3.5976562 C 19.799199 2.8163086 19.183691 2.2008008 18.402344 2.0410156 C 18.272119 2.0143848 18.138125 2 18 2 L 6 2 z"></path></svg>
            </span>
        </span>
    </div>

    <div class="moview-preview-description" *ngIf="movie.title !== '' && movie.title !== null" [style.fontSize]="componentFontSize">
        {{ movie.title }}
    </div>
    

</div>


