
<div class="main-container" [@sideBarAnimation] = "(onExpandSidePanel === true || onExpandSidePanel === undefined)  ? 'expand' : 'collapse'">

    <div class="sidebar-container">

        <ul class="sidebar-list">
            <li class="sidebar-list-item" #dashboardItem> <span><fa-icon class="icon home-icon" [icon]="homeIcon" ></fa-icon></span>Dashboard</li>
            <li class="sidebar-list-item"> <span><fa-icon class="icon movie-icon" [icon]="movieIcon" ></fa-icon></span>Movies</li>
            <li class="sidebar-list-item"> <span><fa-icon class="icon projectionIcon" [icon]="projectionIcon" ></fa-icon></span>Projections</li>
            <li class="sidebar-list-item"> <span><fa-icon class="icon projectionIcon" [icon]="reservationIcon" ></fa-icon></span>Reservations</li>
            <li class="sidebar-list-item"> <span><fa-icon class="icon roomIcon" [icon]="roomIcon" ></fa-icon></span>Rooms</li>
            <li class="sidebar-list-item"> <span><fa-icon class="icon usersIcon" [icon]="usersIcon" ></fa-icon></span>Users</li>
        </ul>

    </div>

    

</div>


