<div class="main-container">

    <div class="main-container-item">

        <div class="main-container-tittle">
            <span>Best Selling Movies</span>
        </div>

        <div class="main-container-table-container">

            <table class="main-container-table">

                <thead class="main-container-table-headers">
                    <tr>
                        <th></th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Genre</th>
                        <th title="Reservations">Res</th>
                        <th>Visits</th>
                        <th>Profit</th>
                    </tr>
                </thead>
                <tbody class="main-container-table-body">
                    <tr>
                        <td>1</td>
                        <td><img src="../../../../../assets/images/image-placeholder-1.jpg" alt="movie cover image" height="100" width="100" /></td>
                        <!-- <td>1</td> -->
                        <td>Movie 1 Movie Movie</td>
                        <td>Action</td>
                        <td>53</td>
                        <td>152</td>
                        <td>$234</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img src="../../../../../assets/images/image-placeholder-1.jpg" alt="movie cover image" height="100" width="100" /></td>
                        <!-- <td>1</td> -->
                        <td>Movie 1</td>
                        <td>Action</td>
                        <td>53</td>
                        <td>152</td>
                        <td>$234</td>
                    <tr>
                        <td>3</td>
                        <td><img src="../../../../../assets/images/image-placeholder-1.jpg" alt="movie cover image" height="100" width="100" /></td>
                        <!-- <td>1</td> -->
                        <td>Movie 1</td>
                        <td>Action</td>
                        <td>53</td>
                        <td>152</td>
                        <td>$234</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="../../../../../assets/images/image-placeholder-1.jpg" alt="movie cover image" height="100" width="100" /></td>
                        <!-- <td>1</td> -->
                        <td>Movie 1</td>
                        <td>Action</td>
                        <td>53</td>
                        <td>152</td>
                        <td>$234</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img src="../../../../../assets/images/image-placeholder-1.jpg" alt="movie cover image" height="100" width="100" /></td>
                        <!-- <td>1</td> -->
                        <td>Movie 1</td>
                        <td>Action</td>
                        <td>53</td>
                        <td>152</td>
                        <td>$234</td>
                    <tr>
                        <td>6</td>
                        <td><img src="../../../../../assets/images/image-placeholder-1.jpg" alt="movie cover image" height="100" width="100" /></td>
                        <!-- <td>1</td> -->
                        <td>Movie 1</td>
                        <td>Action</td>
                        <td>53</td>
                        <td>152</td>
                        <td>$234</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>

</div>
