
<div class="main-container">
    
    <div class="first-row">

        <!-- ------------------------------------------------------------------------------------------------ -->
        <!-- New Moview -->
        <!-- ------------------------------------------------------------------------------------------------ -->
        <div class="new-movie-container">

            <div class="new-movie-container-title">
                <span>Create new movie <fa-icon class="arrow-icon" [icon]="arrowDownIcon"></fa-icon></span>
            </div>

            <div class="new-movie-form-container">

                <form [formGroup]="createMovieform">
                    
                    <div class="form-item-container form-movie-title-container">
                        <label for="movie-title">Title</label>
                        <input type="text" name="movie-title" id="movie-title" formControlName="movieTitle" placeholder="Title" />
                        <div class="alert" *ngIf="createMovieform.get('movieTitle')?.touched && createMovieform.get('movieTitle')?.invalid">
                            <span *ngIf="createMovieform.get('movieTitle')?.getError('required')">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                                <span class="alert-description">Please enter movie title!</span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-item-container form-genre-container">
                        <label for="movie-genre">Genre</label>
                        <select name="movie-genre" id="movie-genre-create" formControlName="movieGenre" required>
                            <option value="" disabled selected hidden>Select genre</option>
                            <option value="action">Action</option>
                            <option value="comedy">Comedy</option>
                            <option value="drama">Drama</option>
                        </select>
                        <div class="alert" *ngIf="createMovieform.get('movieGenre')?.touched && createMovieform.get('movieGenre')?.invalid">
                            <span *ngIf="createMovieform.get('movieGenre')?.getError('required')">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                                <span class="alert-description">Please enter movie genre!</span>
                            </span>
                        </div>                        
                    </div>

                    <div class="form-item-container form-duration-container">
                        <label for="movie-duration">Duration</label>
                        <input type="number" name="movie-duration" id="movie-duration" formControlName="movieDuration" placeholder="Duration" />
                        <div class="alert" *ngIf="createMovieform.get('movieDuration')?.touched && createMovieform.get('movieDuration')?.invalid">
                            <span *ngIf="createMovieform.get('movieDuration')?.getError('required')">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                                <span class="alert-description">Please enter movie duration!</span>
                            </span>
                        </div> 
                    </div>

                    <div class="form-item-container form-status-container">
                        <label for="movie-status">Status</label>
                        <select name="movie-status" id="movie-status-create" formControlName="movieStatus" required>
                            <option value="" disabled selected hidden>Select status</option>
                            <option value="active">Active</option>
                            <option value="all">Inactive</option>
                        </select>
                        <div class="alert" *ngIf="createMovieform.get('movieStatus')?.touched && createMovieform.get('movieStatus')?.invalid">
                            <span *ngIf="createMovieform.get('movieStatus')?.getError('required')">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                                <span class="alert-description">Please enter movie status!</span>
                            </span>
                        </div> 
                    </div>

                    <div>
                        <input type="file" name="image-input" id="image-input" formControlName="movieImage" accept="image/png, image/gif, image/jpeg" />
                        <div class="alert" *ngIf="invalidMovieImage">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                                <span class="alert-description">Please enter movie duration!</span>
                            </span>
                        </div>
                    </div>

                    <div class="alert" *ngIf="invalidForm" style="margin-top: 20px;">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                            <span class="alert-description">Please insert required fileds!</span>
                        </span>
                    </div> 


                </form>

                <div class="create-movie-form-buttons-container">
                    <button class="create-movie-button" (click)="submitNewMovie()">Create</button>
                    <button class="reset-button" (click)="resetCreateNewMovieForm()">Reset</button>
                </div>

            </div>

        </div>
        <!-- ------------------------------------------------------------------------------------------------ -->
        <!-- New Moview - END -->
        <!-- ------------------------------------------------------------------------------------------------ -->

        
        
        <div class="statistic-container">
            

            <!-- ------------------------------------------------------------------------------------------------ -->
            <!-- Best Movie Chart -->
            <!-- ------------------------------------------------------------------------------------------------ -->
            <div class="best-movies-container">
            
                <div class="best-movies-container-title" >
                    <span>Trending Movies <fa-icon class="qustion-icon" [icon]="questionIcon" title="Top 4 movies by popularity"></fa-icon></span>
                </div>
                
                <div class="best-movies-graph">
                    <p-chart type="bar" [data]="chartData" [options]="chartOptions" />
                </div>
    
            </div>
            <!-- ------------------------------------------------------------------------------------------------ -->
            <!-- Best Movie Chart - END -->
            <!-- ------------------------------------------------------------------------------------------------ -->

            <!-- ------------------------------------------------------------------------------------------------ -->
            <!-- Statistic Card -->
            <!-- ------------------------------------------------------------------------------------------------ -->
            <div class="statistic-card-container">

                <div class="statistic-card-new-movies">
                    <app-statistic-card [tittle]="newMoviesCardValues.tittle" [value]="newMoviesCardValues.value" [lastWeekValue]="newMoviesCardValues.lastWeekValue" [lastWeekValueDesctription]="newMoviesCardValues.lastWeekValueDescription" [icon]="newMoviesCardValues.icon" [iconColor]="newMoviesCardValues.iconColor" [iconBackgroundColor]="newMoviesCardValues.iconBackgroundColor"></app-statistic-card>
                </div>

                <div class="statistic-card-total-movies">
                    <app-statistic-card [tittle]="totalMoviesCardValues.tittle" [value]="totalMoviesCardValues.value" [lastWeekValue]="totalMoviesCardValues.lastWeekValue" [lastWeekValueDesctription]="totalMoviesCardValues.lastWeekValueDescription" [icon]="totalMoviesCardValues.icon" [iconColor]="totalMoviesCardValues.iconColor" [iconBackgroundColor]="totalMoviesCardValues.iconBackgroundColor"></app-statistic-card>
                </div>

            </div>
            
            <!-- ------------------------------------------------------------------------------------------------ -->
            <!-- Statistic Card - END -->
            <!-- ------------------------------------------------------------------------------------------------ -->

        </div>

    </div>


    <div class="administrator-movies-table-container">
        
        <div class="main-container-tittle">
            <span>Movies <button class="filter-button" title="Filter" (click)="onFilter()"><i class="pi pi-filter filter-icon"></i></button></span>
        </div>

        <!-- ------------------------------------------------------------------------------------------------ -->
        <!-- Filter Panel -->
        <!-- ------------------------------------------------------------------------------------------------ -->
        <div class="filter-container">

            <div class="main-filter-form-container" [@expandCollapse] = "isFilterPanelToggled === true ? 'expand' : 'collapse'">

                <hr>

                <div class="filter-form-container">
                    
                        <form [formGroup]="filterMovieForm">
                            
                            <div class="form-item-container form-movie-title-container">
                                <label for="movie-title">Title</label>
                                <input type="text" formControlName="movieTitle" name="movie-title" id="movie-title" placeholder="Title" />
                            </div>
                            
                            <div class="form-item-container form-genre-container">
                                <label for="movie-genre">Genre</label>
                                <select formControlName="movieGenre" name="movie-genre" id="movie-genre">
                                    <option value="any" selected>Any</option>
                                    <option value="action">Action</option>
                                    <option value="comedy">Comedy</option>
                                    <option value="drama">Drama</option>
                                </select>
                            </div>
    
                            <div class="form-item-container form-duration-container">
                                <label for="movie-duration">Duration</label>
                                <input formControlName="movieDuration" type="number" name="movie-duration" id="movie-duration" placeholder="Duration" />
                            </div>
    
                            <div class="form-item-container form-date-container">
                                <label for="movie-date">Date added</label>
                                <input formControlName="movieDateAdded" type="date" name="movie-date" id="movie-date" />
                            </div>
    
                            <div class="form-item-container form-status-container">
                                <label for="movie-status">Status</label>
                                <select formControlName="movieStatus" name="movie-status" id="movie-status">
                                    <option value="all" selected>All</option>
                                    <option value="active">Active</option>
                                    <option value="all">Inactive</option>
                                </select>
                            </div>
                            
                            <div></div>

                            <div class="form-item-container form-reservations-container" style="margin-top: 0px">
                                <label class="range-item" for="movie-reservations">Reservations</label>
                                <span style="display: block;"><span>from </span><input formControlName="movieReservationsFrom" class="range-item" type="number" name="movie-reservations" id="movie-reservations"> <span> to </span> <input class="range-item" type="number" formControlName="movieReservationsTo" name="movie-reservations" id="movie-reservations"></span>
                            </div>
    
                            <div class="form-item-container form-tickets-container" style="margin-top: 0px">
                                <label class="range-item" for="movie-tickets">Tickets</label>
                                <span style="display: block;"><span>from </span><input class="range-item" type="number" formControlName="movieTicketsFrom" name="movie-tickets" id="movie-tickets"> to <input class="range-item" type="number" formControlName="movieTicketsTo" name="movie-tickets" id="movie-tickets"></span>
                            </div>
    
                            <div class="form-item-container form-profit-container" style="margin-top: 0px">
                                <label class="range-item" for="movie-profit">Profit</label>
                                <span style="display: block;"><span>from </span><input formControlName="movieProfitFrom" class="range-item" type="number" name="movie-profit" id="movie-profit"> to <input class="range-item" type="number" formControlName="movieProfitTo" name="movie-profit" id="movie-profit"></span>
                            </div>
                                
                        </form>
                        <button class="ok-button">Ok</button>
                        <button class="reset-button" (click)="resetFilterMovieForm()">Reset</button>
                    
                </div>

                <hr>

            </div>
            
        </div>
        <!-- ------------------------------------------------------------------------------------------------ -->
        <!-- Filter Panel - END -->
        <!-- ------------------------------------------------------------------------------------------------ -->


        <!-- ------------------------------------------------------------------------------------------------ -->
        <!-- Movies Table -->
        <!-- ------------------------------------------------------------------------------------------------ -->
        <div class="table-container" [ngStyle]="{'marginTop': isFilterPanelToggled === true ? '30px' : ''}">
            
            <select name="sorting-options" id="sorting-options">
                <option value="title-asc">Sort by Title Ascending</option>
                <option value="title-desc">Sort by Title Descending</option>
                <option value="genre-asc">Sort by Genre Ascending</option>
                <option value="genre-desc">Sort by Genre Descending</option>
                <option value="duration-asc">Sort by Duration Ascending</option>
                <option value="duration-desc">Sort by Duration Descending</option>
                <option value="date-asc">Sort by Date Ascending</option>
                <option value="date-desc">Sort by Date Descending</option>
                <option value="reservations-asc">Sort by Reservations Ascending</option>
                <option value="reservations-desc">Sort by Reservations Descending</option>
                <option value="tickets-asc">Sort by Tickets Ascending</option>
                <option value="tickets-desc">Sort by Tickets Descending</option>
                <option value="profit-asc">Sort by Profit Ascending</option>
                <option value="profit-desc">Sort by Profit Descending</option>
            </select>

            <table>

                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Rating</th>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Duration</th>
                        <th>Date Added</th>
                        <th>Status</th>
                        <th title="Reservations">Res</th>
                        <th>Tickets</th>
                        <th>Profit</th>
                    </tr>
                </thead>

                <tbody>

                    <tr [routerLink]="['/admin/edit-movie', 1]" [queryParams]="{ returnUrl: router.url}">
                        <td>1</td>
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>5</td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr>
                    
                    <tr [routerLink]="['/admin/edit-movie', 2]">
                        <td>2</td>
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>3.7</td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr >

                    <tr [routerLink]="['/admin/edit-movie', 3]">
                        <td>3</td>
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>4.5</td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr>

                    <tr [routerLink]="['/admin/edit-movie', 1]">
                        <td>1</td>
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>4.5</td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr>

                    <tr [routerLink]="['/admin/edit-movie', 1]">
                        <td>1</td>
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>3.8</td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr>

                </tbody>

            </table>

            <!-- Used primeng paggination - library: https://primeng.org/paginator                -->
            <div class="pagination-container">
                <p-paginator class="pagination-item" (onPageChange)="onPaginationChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"></p-paginator>
            </div>
            <!-- -------------------------------------------------------------------------------- -->

        </div>

    </div>
    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Movies Table - END -->
    <!-- ------------------------------------------------------------------------------------------------ -->

</div>


