
<div class="main-container">
    
    <div class="administrator-movies-table-container">
        
        <div class="main-container-tittle">
            <span>Movies</span>
        </div>

        <!-- ------------------------------------------------------------------------------------------------ -->
        <!-- Filter Panel -->
        <!-- ------------------------------------------------------------------------------------------------ -->
        <div class="filter-container">

            
                <button class="filter-button" (click)="onFilter()">Filter</button>
            
            
            <div class="main-filter-form-container" [@expandCollapse] = "isFilterPanelToggled === true ? 'expand' : 'collapse'">

                <hr>

                <div class="filter-form-container">
                    
                        <form>
                            
                            <div class="form-item-container form-movie-title-container">
                                <label for="movie-title">Title</label>
                                <input type="text" name="movie-title" id="movie-title" placeholder="Title" />
                            </div>
                            
                            <div class="form-item-container form-genre-container">
                                <label for="movie-genre">Genre</label>
                                <select name="movie-genre" id="movie-genre">
                                    <option value="any">Any</option>
                                    <option value="action">Action</option>
                                    <option value="comedy">Comedy</option>
                                    <option value="drama">Drama</option>
                                </select>
                            </div>
    
                            <div class="form-item-container form-duration-container">
                                <label for="movie-duration">Duration</label>
                                <input type="number" name="movie-duration" id="movie-duration" placeholder="Duration" />
                            </div>
    
                            <div class="form-item-container form-date-container">
                                <label for="movie-date">Date added</label>
                                <input type="date" name="movie-date" id="movie-date" />
                            </div>
    
                            <div class="form-item-container form-status-container">
                                <label for="movie-status">Status</label>
                                <select name="movie-status" id="movie-status">
                                    <option value="all">All</option>
                                    <option value="active">Active</option>
                                    <option value="all">Inactive</option>
                                </select>
                            </div>
    
                            <div class="form-item-container form-reservations-container" style="margin-top: 10px">
                                <label class="range-item" for="movie-reservations">Reservations</label>
                                <span style="display: block;"><span>from </span><input class="range-item" type="number" name="movie-reservations" id="movie-reservations"> <span>to</span> <input class="range-item" type="number" name="movie-reservations" id="movie-reservations"></span>
                            </div>
    
                            <div class="form-item-container form-tickets-container" style="margin-top: 10px">
                                <label class="range-item" for="movie-tickets">Tickets</label>
                                <span style="display: block;"><span>from </span><input class="range-item" type="number" name="movie-tickets" id="movie-tickets"> to <input class="range-item" type="number" name="movie-tickets" id="movie-tickets"></span>
                            </div>
    
                            <div class="form-item-container form-profit-container" style="margin-top: 10px">
                                <label class="range-item" for="movie-profit">Profit</label>
                                <span style="display: block;"><span>from </span><input class="range-item" type="number" name="movie-profit" id="movie-profit"> to <input class="range-item" type="number" name="movie-profit" id="movie-profit"></span>
                            </div>
                                
                        </form>
                        <button class="ok-button">Ok</button>
                        <button class="reset-button">Reset</button>
                    
                </div>

                <hr>

            </div>
            
        </div>
        <!-- ------------------------------------------------------------------------------------------------ -->
        <!-- Filter Panel - END -->
        <!-- ------------------------------------------------------------------------------------------------ -->


        <!-- ------------------------------------------------------------------------------------------------ -->
        <!-- Movies Table -->
        <!-- ------------------------------------------------------------------------------------------------ -->
        <div class="table-container" [ngStyle]="{'marginTop': isFilterPanelToggled === true ? '30px' : ''}">

            <table>

                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Duration</th>
                        <th>Date Added</th>
                        <th>Status</th>
                        <th title="Reservations">Res</th>
                        <th>Tickets</th>
                        <th>Profit</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr>
                    
                    <tr>
                        
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr>

                    <tr>
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr>

                    <tr>
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr>

                    <tr>
                        <td><img src="../../../../assets/images/image-placeholder-1.jpg" alt=""></td>
                        <td>Movie Title 1</td>
                        <td>Action</td>
                        <td>120min</td>
                        <td>23.5.2024</td>
                        <td>Active</td>
                        <td>25</td>
                        <td>450</td>
                        <td>$25.252</td>
                    </tr>

                </tbody>

            </table>

            <!-- Used primeng paggination - library: https://primeng.org/paginator                -->
            <div class="pagination-container">
                <p-paginator class="pagination-item" (onPageChange)="onPaginationChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"></p-paginator>
            </div>
            <!-- -------------------------------------------------------------------------------- -->


        </div>

    </div>
    <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- Movies Table - END -->
    <!-- ------------------------------------------------------------------------------------------------ -->

</div>


