<!-- Trigger/Open The Modal
<button id="myBtn" (click)="openModal()">Open Modal</button> -->

<!-- The Modal -->
<div id="myModal" class="modal" [ngStyle]="{'display' : openModal === true ? 'inline-block' : 'none'}">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header clearfix">
      <h2>{{ modalHeader }}</h2>
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-body">
      <p>{{ modalText }}</p>
      <div class="button-container">
        <button class="ok-button" (click)="onButtonOk()">Ok</button>
        <button class="cancel-button" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>

</div>