/* The Modal (background) */
.clearfix {
    content: "";
    clear: both;
    display: table;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute;
    top: 10px;
    left: 10%;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 40%; /* Full width */
    
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header h2 {
    display: inline;
    position: relative;
    top: 9px;
    
    font-size: 22px;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #e6e6e6;
    color: black;
  }
  
  .modal-body {
    padding: 2px 16px;
    margin-top: 10px;
  }
  
  .button-container {
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 15px;
  }

  .ok-button {
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: rgb(59,130,246,0.8);
    margin-right: 10px;
    color: white;
  }
  
  .cancel-button {
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: #b3b3b3;
    color: white;
  }

  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  @media (max-width: 1300px) {
    
    .modal {
      top: 480px;
      width: 100%;
      left: 0;
    }

  }