
<div class="main-container">

    <div class="main-container-tittle">
        <span>Messages</span>
    </div>

    <div class="main-container-table-container">

        <table>
            
            <thead class="main-container-table-headers">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Sub</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody class="main-container-table-body">
                
                <tr>
                    <td><img src="../../../../../assets/images/user-profil-image-empty.png" alt=""></td>
                    <td>Pera Peric</td>
                    <td>Message</td>
                    <td>Message Title</td>
                    <td> {{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' | movieDescriptionFormat: 4 }} </td>
                </tr>

                <tr>
                    <td><img src="../../../../../assets/images/user-profil-image-empty.png" alt=""></td>
                    <td>Ana Peric</td>
                    <td>Message</td>
                    <td>Feedback Report</td>
                    <td> {{ 'Arisus felis urna rhoncus ex tellus pretium. Sociosqu ad dictumst aliquam ipsum morbi urna. Viverra tortor aliquam penatibus pellentesque a et parturient. Diam inceptos phasellus lacus bibendum nam, facilisis aliquam. Litora consectetur hendrerit imperdiet aenean tempus. Torquent hac dui arcu non ac adipiscing fringilla donec ultrices. Aliquam sagittis ad bibendum justo consequat arcu eu facilisis. Cubilia mauris lacus posuere volutpat pulvinar lacinia. Venenatis tortor vitae odio ex erat platea. Sociosqu luctus orci primis; dui mollis dignissim.' | movieDescriptionFormat: 4 }} </td>
                </tr>

                <tr>
                    <td><img src="../../../../../assets/images/user-profil-image-empty.png" alt=""></td>
                    <td>Ana Anic</td>
                    <td>Feedback</td>
                    <td>Report</td>
                    <td> {{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' | movieDescriptionFormat: 4 }} </td>
                </tr>

                <tr>
                    <td><img src="../../../../../assets/images/user-profil-image-empty.png" alt=""></td>
                    <td>Mika Peric</td>
                    <td>Report</td>
                    <td>Report</td>
                    <td> {{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' | movieDescriptionFormat: 4 }} </td>
                </tr>
                
                <tr>
                    <td><img src="../../../../../assets/images/user-profil-image-empty.png" alt=""></td>
                    <td>Pera Peric</td>
                    <td>Message</td>
                    <td>Message Title</td>
                    <td> {{ 'Est orci rutrum sagittis dolor pharetra aenean posuere primis. Lacinia amet parturient finibus vulputate auctor convallis metus dignissim senectus! Nam facilisi ipsum volutpat sapien sollicitudin habitant. Sed consequat aptent class ornare urna tempor habitasse. Sagittis gravida in porta rhoncus senectus etiam fermentum. Potenti vitae sollicitudin quisque praesent ex platea tempor potenti. Sapien orci integer mi montes vel tellus.' | movieDescriptionFormat: 4 }} </td>
                </tr>

            </tbody>

        </table>

        <!-- Used primeng paggination - library: https://primeng.org/paginator                -->
        <div class="pagination-container">
            <p-paginator class="pagination-item" (onPageChange)="onPaginationChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"></p-paginator>
        </div>
        <!-- -------------------------------------------------------------------------------- -->

    </div>
    


</div>