.main-container {
    height: 65px;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

.topbar-title-container {
    display: inline-block;
    position: relative;
    top: 15px;
}

.topbar-title {
    font-size: 28px;
    margin: 0px 40px;
    color: #333333;
    user-select: none; /* Non-standard syntax for most browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.topbar-title:hover {
    cursor: pointer;
}

.burger-button-container{
    display: inline-block;
    position: relative;
    top: 15px;
}

.burger-button-item {
    font-size: 24px; 
    color: gray;
    padding: 8px 12px;
}

.burger-button-item:hover {
    cursor: pointer;
    /* border: 2px solid rgb(138, 188, 207); */
    background-color: #eee;
    border-radius: 100%;
}