<div class="main-container">

    <div class="main-container-item">

        <div class="main-container-tittle">
            <span>Recent Reservations</span>
        </div>

        <div class="main-container-table-container">

            <table class="main-container-table">

                <thead class="main-container-table-headers">
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Movie</th>
                        <th>Price</th>
                        <th>Seats</th>
                    </tr>
                </thead>
                <tbody class="main-container-table-body">
                    <tr>
                        <td>1</td>
                        <td>Pera Peric</td>
                        <td>Tittle 1</td>
                        <td>52$</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Pera Peric</td>
                        <td>Tittle 1</td>
                        <td>52$</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Pera Peric</td>
                        <td>Tittle 1</td>
                        <td>52$</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Pera Peric</td>
                        <td>Tittle 1</td>
                        <td>52$</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Pera Peric</td>
                        <td>Tittle 1</td>
                        <td>52$</td>
                        <td>6</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>

</div>


