<div class="pagination" [ngStyle]="{'marginBottom': marginBottom !== undefined ? marginBottom : ''}">
    <a href="#">&laquo;</a>
    <a href="#" class="pagination-link-active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <span>...</span>
    <span>
        <select name="page-number" id="page-number">
            <option value=""></option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
    </span>
    <a href="#">&raquo;</a>
</div>
