/* --------------------------------------- */
/* Main - Container             */
/* --------------------------------------- */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main-container {
    /* background-color: blue; */
    padding: 0px;
    margin: 0px;
    
}
/* --------------------------------------- */



/* --------------------------------------- */
/* Statistic Cards - Container             */
/* --------------------------------------- */
.statistic-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    
}

.statistic-card-item {
    width: 25%;
}
/* --------------------------------------- */



/* --------------------------------------- */
/* Statistic Cards - Container             */
/* --------------------------------------- */
.main-statistic-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    /* background-color: red; */
}
/* --------------------------------------- */

.recent-reservations-container, .ticket-sales-graph-container {
    width: 50%;
}

.most-viewed-movies-container {
    margin-top: 30px;
    
}

@media (max-width: 1620px) {

    .statistic-card-item {
        width: 50%;
    }    

}

@media (max-width: 1300px) {

    .main-statistic-cards-container {
        /* background-color: red; */
    }

    .ticket-sales-graph-container {
        margin-top: 30px;
        width: 99.5%;
        
    }

    .recent-reservations-container {
        width: 100%;
    }    

}

@media (max-width: 1000px) {

    .main-container {
        /* background-color: red; */
    }

    .statistic-card-container{
        /* background-color: red; */
    }

    .statistic-card-item {
        width: 100%;
    }    

}

