/* --------------------------------------- */
/* Main - Container             */
/* --------------------------------------- */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main-container {
    /* background-color: blue; */
    padding: 0px;
    margin: 0px;
}
/* --------------------------------------- */



/* --------------------------------------- */
/* Statistic Cards - Container             */
/* --------------------------------------- */
.statistic-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.statistic-card-item {
    width: 25%;
}
/* --------------------------------------- */



/* --------------------------------------- */
/* Statistic Cards - Container             */
/* --------------------------------------- */
.main-statistic-cards-container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;    */
    /* background-color: red; */
}
/* --------------------------------------- */



@media (max-width: 1620px) {

    .statistic-card-item {
        width: 50%;
    }    

}

@media (max-width: 1000px) {

    .main-container {
        background-color: red;
    }

    .statistic-card-container{
        /* background-color: red; */
    }

    .statistic-card-item {
        width: 100%;
    }    

}

