.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main-container {
    /* background-color: blue; */
    padding: 0px;
    margin: 0px;
}

.statistic-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.statistic-card-item {
    width: 25%;
}

@media (max-width: 1620px) {

    .statistic-card-item {
        width: 50%;
    }    

}

@media (max-width: 1000px) {

    .statistic-card-item {
        width: 100%;
    }    

}

@media (max-width: 1000px) {
    
    .statistic-card-item {
        width: 100%;
    }    

}