<!--------------------------------------------------------->
<!-- Navigation Bar -->
<!--------------------------------------------------------->
<nav>
    <a class="navbar-brand" routerLink="">
        <span class="navbar-brand-mark">
            <svg viewBox="0 0 24 24" width="22" height="22" aria-hidden="true">
                <!-- popcorn kernels -->
                <circle fill="currentColor" cx="8" cy="6" r="2.3"/>
                <circle fill="currentColor" cx="12" cy="4.2" r="2.7"/>
                <circle fill="currentColor" cx="16" cy="6" r="2.3"/>
                <circle fill="currentColor" cx="10" cy="7" r="2.1"/>
                <circle fill="currentColor" cx="14" cy="7" r="2.1"/>
                <!-- striped popcorn box -->
                <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5 8.6H19l-1.4 12.4a1 1 0 0 1-1 .9H7.4a1 1 0 0 1-1-.9L5 8.6Zm4.3 1.8H10.4v8.2H9.3V10.4Zm4.3 0H14.7v8.2h-1.1V10.4Z"/>
            </svg>
        </span>
        <span class="navbar-brand-text">PopcornPass</span>
    </a>
    <ul>
        <li><a routerLink="" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a>News</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li (click)="loginPageShow()">
          <a *ngIf="authService.isLoggedIn() === false">Login</a>
          <a *ngIf="authService.isLoggedIn() === true"> {{ authService.getCurrentUser()?.userInfo?.firstname }} {{ authService.getCurrentUser()?.userInfo?.lastname }} </a>
        </li>
    </ul>
</nav>
<!--------------------------------------------------------->
<!-- Navigation Bar - END -->
<!--------------------------------------------------------->


    <!--------------------------------------------------------->
    <!-- Login Page -->
    <!--------------------------------------------------------->
    <div class="login-container">
        
        <div id="login-modal" class="modal" #modalView [style.display]="displayLoginPage ? 'block' : 'none'">
          
          <form class="login-modal-content animate" [formGroup]="loginForm">
            <div class="login-image-container">
              <span (click)="loginPageShow()" class="login-modal-close-button" title="Close Modal">&times;</span>
              <img [src]="userLoginProfileImage" alt="Avatar" class="login-image">
            </div>
        
            <div class="login-modal-container">
              
              <div class="input-container">
                <div class="email-container">
                  <label for="email" class="login-email-label"><b>E-mail</b></label>
                  <input type="text" formControlName="email" [ngStyle]="{'border-bottom-right-radius': (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) ? '0px' : '4px', 'border-bottom-left-radius': (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) ? '0px' : '4px' }" placeholder="Enter e-mail" name="email" required>
                  <div class="alert" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                    <span *ngIf="loginForm.get('email')?.getError('required')">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                      <span class="alert-description">Please insert your email!</span>                            
                    </span>
                    <span *ngIf="loginForm.get('email')?.getError('pattern')">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                      <span class="alert-description">Wrong e-mail format!</span>
                    </span>
                    <span *ngIf="loginForm.get('email')?.getError('emailNotFound')">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                      <span class="alert-description">E-mail is not related to any Account.</span>
                    </span>
                  </div>
                </div>
  
                
  
                <div class="password-container">
                  <label for="password" class="login-password-label"><b>Password</b></label>
                  <input type="password" formControlName="password" [ngStyle]="{'border-bottom-right-radius': (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) ? '0px' : '4px', 'border-bottom-left-radius': (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) ? '0px' : '4px' }" placeholder="Enter Password" name="password" required>
                  <div class="alert alert-password" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                    <span *ngIf="loginForm.get('password')?.getError('required')">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                      <span class="alert-description">Password is required!</span>
                    </span>
                    <span *ngIf="loginForm.get('password')?.getError('pattern')">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                      <span class="alert-description">Password format is not correct!</span>
                    </span>
                  </div>
                </div>

                <div class="alert" style="border-radius: 4px;" *ngIf="loginForm.getError('authentification')">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 30 30"style="fill:#228BE6;"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,21h-2v-7h2V21z M15,11.5 c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S15.828,11.5,15,11.5z"></path></svg>
                  <span class="alert-description">Wrong E-mail or Password!</span>
                </div>

              </div>
                

              <div class="login-register">
                Don't have account? <a class="link" (click)="onRegister()">register</a>
              </div>

              <button type="submit" (click)="onLogin()" [disabled]="loginForm.invalid">Login</button>
              <label class="login-remember-me-check-box">
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>

            </div>
        
            <div class="login-modal-container" style="background-color:#f1f1f1">
              <button type="button" (click)="loginPageShow()" class="cancel-button">Cancel</button>
              <span class="psw">Forgot <a href="">password?</a></span>
            </div>
          </form>
        </div>

    </div>
    <!--------------------------------------------------------->
    <!-- Login Page - END -->
    <!--------------------------------------------------------->


    