.short-statistic-main-container {
    background-color: white;
    border: 1px solid #dfe7ef;
    border-radius: 20px;
    padding: 20px;
    margin: 0px 20px 20px 20px;

    /* Zoom Effect - OnHover */
    transition: transform .4s;
    /* ------------------------------ */
}

/* ------------------------------------ */
/* Zoom Effect - OnHover                */
/* ------------------------------------ */
.short-statistic-main-container:hover {
    cursor: pointer;
    transform: scale(1.056);
}
/* ------------------------------------ */

.short-statistic-container-item {
    overflow: hidden;
}

.short-statistic-container-item-left {
    float: inline-start;
}

.short-statistic-item-title {
    font-size: 14px;
    color: gray;
    margin: 0px 0px 9px 10px;
}

.short-statistic-item-value {
    font-size: 17px;
    margin: 0px 0px 9px 10px;
}

.short-statistic-item-description {
    font-size: 14px;
    color: gray;

    margin: 0px 0px 0px 10px;
    
}

.short-statistic-item-description-value {
    color: #22c55e;
}

.short-statistic-item-icon {
    float: inline-end;
    margin-top: 2px;
}

.icon {
    background-color: #d0e1fd;
    color: #3b82f6;
    padding: 5px;
    border-radius: 10px;
}