.user-preview-card-container {
    border: 1px solid #DDD;
    border-radius: 16px;
    background-color: #F2F2F2;
    padding: 29px 40px 30px 40px;
}

.user-image-container {
    background-color: white;
    border-radius: 100%;
}

.user-image {
    width: 100%;
    height: auto;
}

.user-image:hover {
    cursor: pointer;
}

.user-name-container {
    
    margin: 20px 0 0px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 12px 0 24px 0;
}

.user-edit-profile-button {
    width: 100%;
    height: 32px;
    border: none;
    background-color: #60bbff;
    color: white;
    /* border-bottom: 1px solid #979797; */
    /* border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; */
}

.user-edit-profile-button:hover {
    background-color: #60bbff;
    
}

.user-logout-profile-button {
    width: 100%;
    height: 32px;
    border: none;
    background-color: #757575;
    color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.user-logout-profile-button:hover {
    background-color: #393939;   
}

.user-edit-profile-button:active {
    background-color: #4a4a4a;
}



